@media only screen and (max-width:500px){
    #english-data{
        height: 455vh;
    }
}
@media only screen and (max-height:500px){
    #english-data{
        height: calc(791vh - 5vw);
        .data-box{
            height: 90vh;
        }
    }
}
@media only screen and (max-width:414px){
    .content{ 
        height: 510vh;
        .box-wrapper{ 
            .box{

            }
        }
    }
    #english-data{
        height: 425vh;
        .data-box{
            height: 49vh;
            .left, .right{
                img{
                    margin-bottom: 15vh;
                }
            }
        }
    }
    .data-offer{
        .offer-box{
            #box-a{
                width: 90%;
            }
        }
        .convert{
            #con-a{
                width: 65vw;
            }
        }
    }
}