@media only screen and (max-width:500px){
    #english-data{
        height: 455vh;
    }
}
@media only screen and (max-height:500px){
    #english-data{
        height: calc(880vh - 5vw);
        #en-data{
            height: 100vh;
            img{
                margin-bottom: 16vh;
            }
            .text{
                p{
                    margin-top: 26vh;
                }
            }
        }
    }
}
@media only screen and (max-width:414px){
    .content{ 
        height: 510vh;
        .box-wrapper{ 
            .box{

            }
        }
    }
    #english-data{
        height: 425vh;
        .data-box{
            height: 49vh;
            .left, .right{
                img{
                    margin-bottom: 15vh;
                }
            }
        }
    }
    .data-offer{
        .offer-box{
            #box-a{
                width: 90%;
            }
        }
        .convert{
            #con-a{
                width: 65vw;
            }
        }
    }
}