@media only screen and (max-width:414px){
    .data-wrapper{
        height: 372vh;
        .data-box{
            height: 49vh;
            .left, .right{
                img{
                    margin-bottom: 15vh;
                }
            }
        }
    }
    .data-offer{
        .convert a{
            width: 56vw;
        }
    }
}