@media only screen and (max-width: 1024px) {
  header nav {
    right: 3.5vw;
  }
  header nav li {
    width: 7vw;
  }
  header nav li img {
    width: 28px;
    height: 28px;
    -webkit-transform: translateY(1vw);
            transform: translateY(1vw);
  }
  header nav li:last-child {
    width: 10vw;
    -webkit-transform: translateY(0.2vw);
            transform: translateY(0.2vw);
  }
  .content {
    height: 125vw;
  }
  .content .menu-button {
    top: 20%;
  }
  .content .menu-button a {
    font-size: 1.8vw;
    width: 22vw;
  }
  .content .box-wrapper {
    width: 90%;
  }
  .content .box-wrapper .box {
    height: 20vw;
  }
  .element-wrap {
    height: 47vw;
  }
  .element-wrap .row .right h1 {
    font-size: 29px;
    line-height: 1.3;
  }
  .data-wrapper .data-box .right p, .data-wrapper .data-box .left p {
    font-size: 17px;
  }
  .integrasi .wrapper-box {
    width: 100%;
  }
  .integrasi .wrapper-box .box-wrap .box {
    height: 28vw;
  }
  .integrasi .wrapper-box .box-wrap .box .wrap-box {
    width: 96%;
    height: 27vw;
    padding: 2% 2%;
    position: relative;
  }
  .integrasi .wrapper-box .box-wrap .box .wrap-box .progres {
    position: absolute;
    width: 98%;
    bottom: 2vw;
  }
  .integrasi .wrapper-box .box-wrap .box .wrap-box img {
    height: 30%;
  }
  .integrasi .wrapper-box .big-box .box-left, .integrasi .wrapper-box .big-box .box-right {
    height: 33vw;
  }
  .integrasi .wrapper-box .big-box .box-left .box, .integrasi .wrapper-box .big-box .box-right .box {
    height: 26vw;
  }
  .faq {
    margin-bottom: 10vw;
  }
  .faq .toggle {
    width: 90%;
  }
  .faq .toggle .toggle-item .tampil a {
    width: 98%;
  }
  .quest .tanya .icon_tanya {
    margin-top: 5vw;
  }
  .quest .media_sosial .sosial {
    width: 60%;
  }
  .quest .media_sosial .sosial .whatsapp .wa, .quest .media_sosial .sosial .whatsapp .fb, .quest .media_sosial .sosial .facebook .wa, .quest .media_sosial .sosial .facebook .fb {
    height: 3.5vw;
    line-height: 3.5vw;
  }
}

@media only screen and (max-width: 912px) {
  header nav li:last-child {
    width: 12vw;
  }
  .main .logo img {
    width: 12.5%;
  }
  .main .judul p {
    font-size: 4.5vw;
  }
  .main .info {
    font-size: 1.9vw;
  }
  .content {
    height: 140vw;
  }
  .content .laptop {
    top: -18vw;
  }
  .content .box-wrapper .box {
    height: 23vw;
  }
  .element-wrap .row .right h1 {
    font-size: 27px;
    float: right;
    width: 90%;
  }
  .element-wrap .row .left img {
    width: 100%;
  }
  .data-wrapper .data-judul h1 {
    font-size: 30px;
  }
  .integrasi .wrapper-box .box-wrap .box {
    height: 34vw;
  }
  .integrasi .wrapper-box .box-wrap .box .wrap-box {
    height: 33vw;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
    height: 75.5vw;
  }
  .main {
    height: 69vw;
  }
  .main .logo {
    padding-top: 8vw;
  }
  .main .logo img {
    width: 17.5%;
  }
  header nav {
    top: 3.5vw;
  }
  header nav li:last-child {
    display: none;
  }
  header nav li {
    width: 12vw;
  }
  header nav .flag {
    width: 9vw;
  }
  .content {
    height: 475vw;
  }
  .content .laptop img {
    width: 90%;
    padding: 0;
  }
  .content .menu-button {
    width: 90%;
    top: 7%;
    padding-top: 12vw;
  }
  .content .menu-button a {
    font-size: 2.5vw;
    height: 5vw;
    line-height: 5vw;
    width: 25vw;
  }
  .content .judul-content {
    top: 7%;
  }
  .content .box-wrapper {
    width: 98%;
    top: 5%;
    padding-top: 13vw;
  }
  .content .box-wrapper .box {
    height: 39vw;
    width: 80%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .element-wrap {
    height: 81vw;
  }
  .element-wrap .row .left {
    float: none;
    width: 100%;
  }
  .element-wrap .row .left img {
    width: 70%;
    margin: auto;
    display: block;
  }
  .element-wrap .row .right {
    float: none;
    width: 100%;
    height: 70vw;
  }
  .element-wrap .row .right h1 {
    float: none;
    -webkit-transform: none;
            transform: none;
    width: 100%;
    font-size: 2.5vw;
  }
  .widget-wrap h2 {
    width: 95%;
    font-size: 4vw;
  }
  .widget-wrap .widget-pay .icon-pay {
    display: block;
    width: 90%;
    height: 12vw;
    position: relative;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    margin-bottom: 2vw;
  }
  .widget-wrap .widget-pay .icon-pay img {
    width: 60%;
  }
  .widget-wrap .widget-vid #vid {
    width: 90%;
  }
  .data-wrapper {
    height: calc(167vw - 5vw);
  }
  .data-wrapper .data-judul {
    padding-top: 3vw;
  }
  .data-offer .judul-offer h2 {
    font-size: 32px;
  }
  .data-offer .offer-box {
    width: 60%;
    margin-top: 10vw;
  }
  .data-offer .offer-box .offer-data {
    width: 75%;
    height: 65vw;
    top: 60%;
  }
  .data-offer .offer-box .offer-data .best-seller {
    width: 29%;
    height: 13vw;
  }
  .data-offer .offer-box .offer-data .best-seller .text-best {
    width: 197%;
    height: 3vw;
    line-height: 3vw;
  }
  .data-offer .offer-box .offer-data .harga {
    margin-top: 3vw;
    height: 8vw;
    font-size: 39px;
  }
  .data-offer .offer-box .offer-data .fitur ul {
    margin-top: 2vw;
  }
  .data-offer .offer-box .offer-data .fitur ul li {
    text-align: left;
    height: 5vw;
    line-height: 5vw;
    padding-left: 3vw;
  }
  .data-offer .offer-box .offer-data .tombol-offer a {
    width: 35%;
    height: 4vw;
    line-height: 4vw;
    font-weight: 600;
  }
  .payment {
    margin-top: 22vw;
  }
  .payment .pay-judul {
    margin-bottom: 3vw;
  }
  .payment .pay-judul h2 {
    font-size: 22px;
  }
  .payment .icon .payment-icon {
    display: block;
    width: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 4vw;
  }
  .payment .icon .payment-icon img {
    width: 20vw;
  }
  .payment .icon-all {
    margin-top: 8vw;
  }
  .payment .icon-all img {
    width: 90%;
  }
  .integrasi {
    height: 540vw;
  }
  .integrasi .wrapper-box {
    width: 100%;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .integrasi .wrapper-box .box-wrap {
    width: 75%;
  }
  .integrasi .wrapper-box .box-wrap .box {
    float: none;
    width: 100%;
    height: 45vw;
    margin-bottom: 3vw;
  }
  .integrasi .wrapper-box .box-wrap .box .wrap-box {
    height: 39vw;
  }
  .integrasi .wrapper-box .box-wrap .box .wrap-box img {
    height: 60%;
    width: 41%;
  }
  .integrasi .wrapper-box .box-wrap .box .wrap-box .progres {
    bottom: 0;
  }
  .integrasi .wrapper-box .box-wrap .box .wrap-box .progres .bar {
    height: 2vw;
  }
  .integrasi .wrapper-box .big-box {
    width: 100%;
  }
  .integrasi .wrapper-box .big-box .box-left, .integrasi .wrapper-box .big-box .box-right {
    float: none;
    width: 75%;
    height: 43vw;
    position: relative;
    left: 50.5%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .integrasi .wrapper-box .big-box .box-left .box, .integrasi .wrapper-box .big-box .box-right .box {
    height: 43vw;
  }
  .quest .media_sosial {
    margin-bottom: 5vw;
  }
  .quest .media_sosial .sosial {
    width: 90%;
  }
  .quest .media_sosial .sosial .facebook .wa, .quest .media_sosial .sosial .facebook .fb, .quest .media_sosial .sosial .whatsapp .wa, .quest .media_sosial .sosial .whatsapp .fb {
    height: 4vw;
    line-height: 4vw;
  }
  .data-wrapper {
    height: calc(850vh - 5vw);
  }
  .data-wrapper .data-judul {
    margin-bottom: 5vw;
  }
  .data-wrapper .data-box {
    height: 77vh;
    margin-bottom: 20vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .data-wrapper .data-box .left, .data-wrapper .data-box .right {
    float: none;
    width: 100%;
  }
  .data-wrapper .data-box .left img, .data-wrapper .data-box .right img {
    width: 76vw;
    height: 70vh;
    position: unset;
    -webkit-transform: none;
            transform: none;
    display: block;
    margin: auto;
    margin-bottom: 8vw;
  }
  .data-wrapper .data-box .left .text, .data-wrapper .data-box .right .text {
    display: block;
    margin-bottom: 3vw;
  }
  .data-wrapper .data-box .left .text p, .data-wrapper .data-box .right .text p {
    font-family: "Varela Round",Sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 400;
    line-height: 3vw;
  }
  .data-wrapper .data-box .left > p, .data-wrapper .data-box .right > p {
    display: none;
  }
  .data-wrapper .data-box .a {
    display: none;
  }
  .data-wrapper .data-box:nth-child .right:nth-child(1) {
    display: none;
  }
  .back {
    bottom: 5vh;
  }
}

@media only screen and (max-height: 500px) {
  .data-wrapper {
    height: calc(957vh - 5vw);
  }
}

@media only screen and (max-width: 414px) {
  .wrapper {
    height: 70vh;
    background-size: 140% 100%;
    background-repeat: no-repeat;
  }
  header nav li {
    width: 20vw;
    padding: 7px 11px;
    font-size: 3.9vw;
    float: right;
  }
  header nav .flag img {
    display: none;
  }
  .main {
    height: 66vh;
  }
  .main .judul {
    width: 98%;
  }
  .main .judul p {
    font-size: 7vw;
    line-height: 7vw;
  }
  .main .logo img {
    width: 26.5%;
    margin-top: 8vw;
  }
  .main .info {
    font-size: 4vw;
    width: 90%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-weight: 200;
  }
  .content {
    height: 465vh;
  }
  .content .laptop {
    top: -25vw;
    margin: 0;
  }
  .content .laptop img {
    width: 100%;
  }
  .content .menu-button {
    top: 7.5%;
    display: block;
  }
  .content .menu-button .menu-btn {
    width: 90%;
    margin-bottom: 1.5vh;
    height: 6vh;
    line-height: 6vh;
    font-size: 4.6vw;
    font-weight: 500;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-left: 0;
  }
  .content .judul-content {
    font-size: 5.3vw;
    top: 5%;
  }
  .content .box-wrapper {
    width: 100%;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .content .box-wrapper .box {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 35vh;
    margin-bottom: 4vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;
  }
  .element-wrap {
    height: 65vh;
  }
  .element-wrap .row .left {
    height: 32vh;
  }
  .element-wrap .row .left img {
    width: 90%;
  }
  .element-wrap .row .right h1 {
    font-size: 4.3vw;
  }
  .widget-wrap .text-why h2 {
    font-size: 5vw;
  }
  .data-wrapper {
    height: calc(489vh - 5vw);
  }
  .data-wrapper .data-judul {
    padding-top: 8vh;
    margin-bottom: 8vh;
  }
  .data-wrapper .data-judul h1 {
    font-size: 22px;
  }
  .data-wrapper .data-box {
    height: 45vh;
  }
  .data-wrapper .data-box .left img, .data-wrapper .data-box .right img {
    width: 75vw;
    height: 36vh;
    margin-bottom: 15vw;
  }
  .data-wrapper .data-box .left .text p, .data-wrapper .data-box .right .text p {
    font-size: 5vw;
    line-height: 5vw;
  }
  .data-offer .judul-offer h2 {
    font-size: 21px;
  }
  .data-offer .offer-box {
    width: 100%;
    height: 70vh;
    margin-top: 16vw;
  }
  .data-offer .offer-box .offer-data {
    width: 80%;
    height: 80vh;
    top: 35vh;
  }
  .data-offer .offer-box .offer-data .best-seller {
    width: 40%;
    height: 20vh;
  }
  .data-offer .offer-box .offer-data .best-seller .text-best {
    height: 6vw;
    line-height: 6vw;
    font-size: 3vw;
  }
  .data-offer .offer-box .offer-data .bulan {
    padding-top: 17vw;
  }
  .data-offer .offer-box .offer-data .bulan h2 {
    font-size: 30px;
  }
  .data-offer .offer-box .offer-data .harga {
    margin-top: 0;
    height: 15vw;
  }
  .data-offer .offer-box .offer-data .fitur {
    margin-top: 3vh;
  }
  .data-offer .offer-box .offer-data .fitur ul {
    width: 90%;
  }
  .data-offer .offer-box .offer-data .fitur ul li {
    height: 10vw;
    line-height: 10vw;
    padding-left: 13vw;
  }
  .data-offer .offer-box .offer-data .tombol-offer {
    margin-top: 5vw;
  }
  .data-offer .offer-box .offer-data .tombol-offer a {
    width: 62%;
    height: 9vw;
    line-height: 9vw;
  }
  .payment .icon .payment-icon {
    margin-bottom: 8vw;
  }
  .payment .icon .payment-icon img {
    width: 30vw;
  }
  .payment .icon-all img {
    width: 100%;
    height: 9vh;
  }
  .integrasi {
    height: 610vh;
  }
  .integrasi .judul {
    margin-bottom: 8vh;
  }
  .integrasi .judul h2 {
    font-size: 28px;
  }
  .integrasi .wrapper-box .box-wrap {
    width: 90%;
  }
  .integrasi .wrapper-box .box-wrap .box {
    margin: 0 0 5vh 0;
    height: 50vh;
  }
  .integrasi .wrapper-box .box-wrap .box .wrap-box {
    height: 30vh;
  }
  .integrasi .wrapper-box .box-wrap .box .wrap-box .progres {
    bottom: -14.5vh;
  }
  .integrasi .wrapper-box .box-wrap .box .wrap-box .progres .bar {
    height: 2vh;
  }
  .integrasi .wrapper-box .big-box .box-left, .integrasi .wrapper-box .big-box .box-right {
    width: 90%;
    height: 43vh;
  }
  .integrasi .wrapper-box .big-box .box-left .box, .integrasi .wrapper-box .big-box .box-right .box {
    height: 40vh;
  }
  .faq .faq-judul {
    margin-bottom: 7vh;
  }
  .faq .toggle .toggle-item {
    margin-bottom: 2vh;
  }
  .faq .toggle .toggle-item .tampil {
    padding: 3vh 3vh;
  }
  .faq .toggle .toggle-item .tampil a {
    width: 95%;
  }
  .quest .tanya .icon_tanya i {
    font-size: 6.5vw;
  }
  .quest .media_sosial .sosial .facebook, .quest .media_sosial .sosial .whatsapp {
    float: none;
    width: 100%;
    margin-bottom: 2vh;
  }
  .quest .media_sosial .sosial .facebook .wa, .quest .media_sosial .sosial .facebook .fb, .quest .media_sosial .sosial .whatsapp .wa, .quest .media_sosial .sosial .whatsapp .fb {
    height: 5vh;
    line-height: 5vh;
  }
  footer {
    width: 98%;
    height: 10vh;
    margin-bottom: 8vh;
    padding: 0 1%;
  }
  footer .foot span {
    font-size: 12px;
  }
  .back {
    height: 8vh;
  }
  .back a {
    height: 5vh;
    line-height: 5vh;
    padding: 5px 8vw;
  }
}
/*# sourceMappingURL=view.css.map */